@import './another.css';
@media screen and (max-width: 250px) {}

body {
  margin: 0;
}

Label {
  @apply div;
  font-family: monospace;
  font-size: 14px;
  user-select: none;
  color: white;
  background: blue;
  padding: 1rem;
  margin: 1rem;
}

body[role="container"] Label[highlighted] {
  background: yellow;
  font-size: attr(fontSize px);
  color: attr(color color, tomato);
  font-size: attr(fontSize em);
}

body[role="container"] Label[name="Ryskin"] {
  color: red;
}
