body {
  margin: 0;
}

:global #root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Label {
  font-family: monospace;
  font-size: 14px;
  user-select: none;
}

.Label-highlight {
  color: blue;
  font-size: attr(fontSize px);
}

body .Label-highlight {
  color: attr(color color, tomato);
  font-size: attr(fontSize em);
}

.Shark .Label-highlight {
  color: attr(color color, tomato);
  font-size: attr(fontSize em);
}

div.Label:active {
  background: attr(color color, tomato);
  color: white;
}