{
  "extends": "fbjs-opensource",
  "rules": {
    "object-curly-spacing": ["warn", "always", {
      "objectsInObjects": false
    }],
    "comma-dangle": ["off"],
    "template-curly-spacing": ["warn", "always"]
  }
}
