{
  "extends": "fbjs-opensource",
  "rules": {
    "object-curly-spacing": ["warn", "always", {
      "objectsInObjects": false
    }],
    "comma-dangle": ["off"],
    "template-curly-spacing": ["warn", "always"],
    "no-unused-vars": ["warn", {
      "vars": "all",
      "args": "after-used",
      "ignoreRestSiblings": false
    }]
  }
}
