{
  "extends": [
    "fbjs-opensource",
    "plugin:lodash-fp/recommended",
    "plugin:promise/recommended"
  ],
  "plugins": [
    "lodash-fp",
    "promise"
  ],
  "rules": {
    "object-curly-spacing": ["warn", "always", {
      "objectsInObjects": false
    }],
    "comma-dangle": ["off"],
    "template-curly-spacing": ["warn", "always"],
    "no-unused-vars": ["warn", {
      "vars": "all",
      "args": "after-used",
      "ignoreRestSiblings": false
    }]
  }
}
