---
---

@import 'header';
@import 'hero';
@import 'actions';
@import 'features';
@import 'footer';
@import 'code-example';

body {
  font-family: 'Work Sans', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}
