---
---
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:900|Playfair+Display:700,700i|Roboto:400,500');
@import 'header';
@import 'hero';
@import 'actions';
@import 'features';
@import 'footer';
@import 'code-example';

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}
