@import './button';

section.actions {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;

  code {
    padding: .5rem;
    background: black;
    font-size: 1.25rem;
    color: white;
    display: block;
  }

  a {
    margin: 1.5rem auto;
  }

  button {
    @extend %raised-button;
    background: white;
    color: black;
  }
}
