%list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.code-example {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto 3rem;

  &__tabs {
    min-width: 30rem;
    flex: 1;
  }

  &__code-panel {
    margin-top: 2px;
  }
  
  &__output {
    min-width: 30rem;
    flex: 1;
    margin-top: calc(2rem + 6px);
    margin-left: 3rem;
  }

  .react-tabs__tab-list {
    @extend %list-reset;
    display: flex;
    flex-direction: row;

    .react-tabs__tab {
      padding: .5rem 1rem;
      border: 2px solid black;

      &--selected {
        background: black;
        color: white;
      }
    }
  }
}
