%list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.code-example {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto 3rem;

  &__tabs {
    min-width: 30rem;
    flex: 1;
  }

  &__code-panel {
    margin-top: 2px;
  }
  
  &__output {
    min-width: 30rem;
    flex: 1;
    margin-top: calc(3.5rem + 2px);
    margin-left: 3rem;
  }

  .react-tabs__tab-list {
    @extend %list-reset;
    display: flex;
    flex-direction: row;

    .react-tabs__tab {
      width: 10em;
      background: white;
      color: black;
      transition: background .1s;
      padding: 1rem 0;
      cursor: pointer;
      text: {
        transform: uppercase;
        align: center;
      }
      outline: none;
      user-select: none;
      font-weight: 500;

      &:active {
        background: darken(white, 5%);
      }
    }
    position: relative;
    margin-bottom: .5rem;
  }

  &__indicator {
    width: 10em;
    height: 3px;
    background: black;
    position: absolute;
    bottom: 0;
    transition: transform .2s;
  }
}
