section.features {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 3em;
  margin: 2rem 3rem;

  h3 {
    font: {
      family: 'Playfair Display', serif;
      weight: 700;
      style: italic;
    }
    grid-row: 1;
    margin: 0;
  }
}
