section.features {
  margin: 2rem 3rem;

  h3 {
    font: {
      family: 'Playfair Display', serif;
      weight: 700;
      style: italic;
    }
    margin: 0 0 2em;
  }

  @media (min-width: 60em) {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 3em;

    h3 {
      grid-row: 1;
      margin: 0;
    }
  }
}
