.hidden {
	display: none;
}

Container {
	background: #fff;
	margin: 130px 0 40px 0;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

Container input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

Container input::-moz-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

Container input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

Container h1 {
	position: absolute;
	top: -155px;
	width: 100%;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
	color: rgba(175, 47, 47, 0.15);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

Main  {
	@apply section;
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
}

label[for='toggle-all'] {
	display: none;
}

ToggleAll {
	@apply input;
	position: absolute;
	top: -55px;
	left: -12px;
	width: 60px;
	height: 34px;
	text-align: center;
	border: none; /* Mobile Safari */
}

ToggleAll::before {
	content: "❯";
	font-size: 22px;
	color: #e6e6e6;
	padding: 10px 27px 10px 27px;
}

ToggleAll:checked::before {
	color: #737373;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	ToggleAll,
	TodoList li Toggle {
		background: none;
	}

	TodoList li Toggle {
		height: 40px;
	}

	ToggleAll {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		-webkit-appearance: none;
		appearance: none;
	}
}

@media (max-width: 430px) {
	Footer {
		height: 50px;
	}

	Filters {
		bottom: 10px;
	}
}
