@import './TodoEdit.css';
TodoList TodoItem {
  @apply li;
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}

TodoList TodoItem:last-child {
  border-bottom: none;
}

TodoList TodoItem[editing] {
  border-bottom: none;
  padding: 0;
}

TodoItem TodoEdit {
  @apply --TodoEdit;
}

TodoList TodoItem[editing] TodoEdit {
  @apply input;
  display: block;
  width: 506px;
  padding: 12px 16px;
  margin: 0 0 0 43px;
}

TodoList TodoItem[editing] TodoView {
  display: none;
}

TodoList TodoItem Toggle {
  @apply input;
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
  /* Mobile Safari */
  -webkit-appearance: none;
  appearance: none;
}

TodoList TodoItem Toggle {
  opacity: 0;
}

TodoList TodoItem Toggle::after {
  /*
		Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
		IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
	*/
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center left;
}

TodoList TodoItem Toggle:checked::after {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

TodoList TodoItem label {
  word-break: break-all;
  padding: 15px 15px 15px 60px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}

TodoList TodoItem[completed] label {
  color: #d9d9d9;
  text-decoration: line-through;
}

TodoList TodoItem Destroy {
  @apply button;
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
}

TodoList TodoItem Destroy:hover {
  color: #af5b5e;
}

TodoList TodoItem Destroy:after {
  content: '×';
}

TodoList TodoItem:hover Destroy {
  display: block;
}

TodoList TodoItem TodoEdit {
  display: none;
}

TodoList TodoItem[editing]:last-child {
  margin-bottom: -1px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  TodoList TodoItem Toggle {
    background: none;
  }
  TodoList TodoItem Toggle {
    height: 40px;
  }
}
